<%- include('../partials/admin.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">



    <%- include('../partials/admin-dashboard.ejs') %>


        <main id="main" class="main">
            <div class="pagetitle" style="display: flex;">
                <h1>Sales Report</h1>

            </div><!-- End Page Title -->
            <div class="m-2">
                <span>From: </span> <input type="date" id="fromDate"> <span>To: </span><input type="date" id="toDate">
                <button class="btn btn-sm btn-primary " onclick="dateAnalysis()">Search</button>
                <button class="btn btn-sm btn-primary ms-2" onclick="allData('all')">All</button>
                <button class="btn btn-success ms-5" onclick="orderReportPDF()">Download PDF</button>
            </div>

            <section class="section dashboard">
                <div class="row">

                    <!-- Left side columns -->
                    <div class="col-lg-12">
                        <div class="row">


                            <!-- Top Selling -->
                            <div class="col-12">
                                <div class="card top-selling">

                                    <div class="card-body pb-0">


                                        <table class="table table-nowrap " style="margin-top: 8%; overflow-x: hidden;" id="myTable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Date</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th class="d-none d-sm-block">Payment method</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% salesReport.forEach((sale,index)=> { %>

                                                    <tr>
                                                        <td>
                                                            <%= index+1 %>
                                                        </td>
                                                        <td>
                                                            <%= orderDates[index] %>
                                                        </td>
                                                        <td>
                                                            <%= sale.product.name %>
                                                        </td>

                                                        <td>
                                                            <%= sale.quantity %>
                                                        </td>

                                                        <td>
                                                            <%= sale.product.offerPrice %>
                                                        </td>

                                                        <td class="d-none d-sm-block">
                                                            <%= sale.paymentMethod %>

                                                        </td>
                                                    </tr>



                                                    <% }); %>


                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div><!-- End Top Selling -->

                        </div>
                    </div><!-- End Left side columns -->


                </div>
            </section>





        </main><!-- End #main -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.min.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>

        <script>
            
            function orderReportPDF() {
                var doc = new jsPDF('p', 'pt', 'letter');
                var htmlstring = '';
                var tempVarToCheckPageHeight = 0;
                var pageHeight = 0;
                pageHeight = doc.internal.pageSize.height;
                specialElementHandlers = {
                    // element with id of "bypass" - jQuery style selector  
                    '#bypassme': function (element, renderer) {
                        // true = "handled elsewhere, bypass text extraction"  
                        return true
                    }
                };
                margins = {
                    top: 150,
                    bottom: 60,
                    left: 40,
                    right: 40,
                    width: 600
                };
                var y = 20;
                doc.setLineWidth(2);
                doc.text(200, y = y + 30, "Sales Report");
                doc.autoTable({
                    html: '#myTable',
                    startY: 70,
                    theme: 'grid',
                    columnStyles: {
                        0: {
                            cellWidth: 180,
                        },
                        1: {
                            cellWidth: 80,
                        },
                        2: {
                            cellWidth: 80,
                        },
                    },
                    styles: {
                        minCellHeight: 40
                    }
                })
                doc.save('sales-report.pdf');
            }

        </script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

        <script>
            function dateAnalysis() {
                let fromDate = document.getElementById('fromDate').value
                let toDate = document.getElementById('toDate').value

                $.ajax({
                    url: '/admin/sortReport',
                    data: {
                        fromDate,
                        toDate
                    },
                    method: 'post',
                    success: (response) => {
                        if (response) {
                            location.reload()
                        }
                    }
                })

            }
        </script>

        <script>
            function allData(data) {
                $.ajax({
                    url: '/admin/sortReport',
                    data: {
                        data
                    },
                    method: 'post',
                    success: (response) => {
                        if (response) {
                            location.reload()
                        }
                    }
                })
            }
        </script>


        <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>

        <%- include('../partials/footer.ejs') %>