<style>
    #ex4 .p1[data-count]:after {
        position: absolute;
        right: 10%;
        top: 11%;
        content: attr(data-count);
        font-size: 40%;
        padding: .2em;
        border-radius: 10%;
        line-height: 1em;
        color: white;
        background: rgba(67, 85, 240, 0.85);
        text-align: center;
        min-width: 1.3em;
    }
</style>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->


        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo mt-4">
                    <h3>Laventa</h3>
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">

                        <li>
                            <a href="/products/women">WOMEN</a>
                        </li>
                        <li>
                            <a href="/products/men">MEN</a>
                        </li>

                        <li>
                            <a href="/products/kid">KIDS</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <% if(user){ %>
                        

                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                            <a style="color:rgb(19, 18, 18);" href="/cart"><i
                                    class="zmdi zmdi-shopping-cart"></i></a>
                                    <span class="badge"
                                    style="font-size: 11px; border-radius: 30%; background-color: #717fe0;position: absolute;top: -7px;right: -2px;"
                                    id="cart-count">
                                    <%= cartCount %>
                                </span>  
                        </div>
                        <% }else{ %>
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart">
                                <a style="color:rgb(19, 18, 18);" href="/signin"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                            </div>
                            <% } %>

                                <% if(user){ %>

                                    <a href="/wishlist"
                                        class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                        <span class="badge"
                                            style="font-size: 11px; border-radius: 30%; background-color: #717fe0;position: absolute;top: -7px;right: -2px;"
                                            id="wishlist-count">
                                            <%= wishlistCount %>
                                        </span>
                                    </a>

                                    <% }else{ %>
                                        <a href="/signin"
                                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
                                            data-notify="0">
                                            <i class="zmdi zmdi-favorite-outline"></i>
                                        </a>
                                        <% } %>


                                            <% if(user){ %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink-4"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false"><i
                                                            class="fa fa-user icon-header-item"></i>
                                                        <%= user.username %>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-cyan"
                                                        aria-labelledby="navbarDropdownMenuLink-4">
                                                        <a class="dropdown-item" href="/orderlist">My Orders</a>
                                                        <a class="dropdown-item" href="/profile">My Profile</a>
                                                        <a class="dropdown-item" href="/signout">Logout</a>
                                                    </div>
                                                </li>
                                                <% }else{ %>
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle "
                                                            id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false"><i
                                                                class="fa fa-user icon-header-item"></i>
                                                            Account
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan"
                                                            aria-labelledby="navbarDropdownMenuLink-4">
                                                            <a class="dropdown-item" href="/signin">Login</a>
                                                        </div>
                                                    </li>

                                                    <% } %>


                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="/">
                <h3>Laventa</h3>
            </a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                <i class="zmdi zmdi-search"></i>
            </div>

            <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-1 js-show-cart"
                >
                <i class="zmdi zmdi-shopping-cart"></i>
            </div> -->

            <% if(user){ %>
               
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                    <a style="color:rgb(19, 18, 18);" href="/signin"><i class="zmdi zmdi-shopping-cart"></i></a>
                    <span class="badge"
                            style="font-size: 11px; border-radius: 30%; background-color: #717fe0;position: absolute;top: -7px;right: -2px;"
                            id="cart-count">
                            <%= cartCount %>
                        </span>
                </div>
                <% }else{ %>
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart">
                        <a style="color:rgb(19, 18, 18);" href="/signin"><i class="zmdi zmdi-shopping-cart"></i></a>
                    </div>
                    <% } %>

                        <!-- <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-1"
                >
                <i class="zmdi zmdi-favorite-outline"></i>
            </a> -->

                        <% if(user){ %>

                            <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                <i class="zmdi zmdi-favorite-outline"></i>
                                <span class="badge"
                                    style="font-size: 11px; border-radius: 30%; background-color: #717fe0;position: absolute;top: -7px;right: -2px;"
                                    id="wishlist-count">
                                    <%= wishlistCount %>
                                </span>
                            </a>

                            <% }else{ %>
                                <a href="/signin" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
                                    data-notify="0">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>
                                <% } %>

        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">

        <ul class="main-menu-m">

            <% if(user){ %>
                <li>
                    <a href="/profile">
                        <%= user.username %> - Profile
                    </a>
                </li>
                <li>
                    <a href="/orderlist">My Orders</a>
                </li>

                <li>
                    <a href="/signout">Signout</a>
                </li>
                <% }else{ %>
                    <li>
                        <a href="/signup">Signup</a>
                    </li>
                    <li>
                        <a href="/signin">Login</a>
                    </li>
                    <% } %>
        </ul>
    </div>



    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="/images/icons/icon-close2.png" alt="CLOSE">
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>
</header>
